#game {
  height: 700px;
  width: 600px;
  margin: auto;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#game div {
  text-align: center;
}

#game #status {
  margin: auto;
  font-size: 20px;
}

#game #play-control {
  margin: auto;
}

#game #play-control button {
  font-size: 20px;
  padding: 10px;
}

#game #timer {
  margin: auto;
  font-size: 20px;
}

#board {
  --rows: 20;
  --columns: 20;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.cell {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid grey;
  background-color: lightgray;
  display: grid;
  text-align: center;
  font-size: 40px;
}

.cell.revealed {
  background-color: white;
}

.cell img {
  max-width: 80%;
  height: 80%;
  margin: auto; /* center it */
}

.cell span {
  padding: 5px; /* top */
}
