<div id="menu">
  <button type="button" (click)="toggleDebug()">Toggle Debug</button> <br />
  <button type="button" (click)="start()">Start</button> <br />
  <span>Bombs To Guess: </span> {{ state.bombs - state.flags }}
</div>
<div
  *ngIf="state.board"
  id="board"
  [style.--rows]="this.state.rows"
  [style.--columns]="this.state.columns"
>
  <div
    *ngFor="let cell of cells; let i = index"
    class="cell"
    [class.revealed]="cell.revealed"
    (click)="onLeftClick(cell)"
    (contextmenu)="onRightClick(cell)"
    oncontextmenu="return false;"
  >
    <span class="symbol">{{ getCellSymbol(cell) }}</span>
  </div>
</div>
